<!-- 3x3 Game Board -->
<table>
    <tr>
        <td width="30" height="30" align="center">@Html.Partial("_GamePiece", 0)</td>
        <td width="30" height="30" align="center">@Html.Partial("_GamePiece", 1)</td>
        <td width="30" height="30" align="center">@Html.Partial("_GamePiece", 2)</td>
    </tr>
    <tr>
        <td width="30" height="30" align="center">@Html.Partial("_GamePiece", 3)</td>
        <td width="30" height="30" align="center">@Html.Partial("_GamePiece", 4)</td>
        <td width="30" height="30" align="center">@Html.Partial("_GamePiece", 5)</td>
    </tr>
    <tr>
        <td width="30" height="30" align="center">@Html.Partial("_GamePiece", 6)</td>
        <td width="30" height="30" align="center">@Html.Partial("_GamePiece", 7)</td>
        <td width="30" height="30" align="center">@Html.Partial("_GamePiece", 8)</td>
    </tr>
</table>



